body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-color: #282315;
  color: #ffdc76;
}

h1 {
  text-shadow: 1px 1px 5px #18150d;
}

a {
  color: #fff8de;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #282315;
  text-align: center;
  font-size: 14px;
  opacity: 0.75;
  transition: opacity 150ms;
}

footer:hover {
  opacity: 1;
}

.logo-image {
  height: 50px;
  width: 50px;
  margin-right: 8px;
  margin-left: -8px;
}

b {
  font-size: 17px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.two-third {
  width: 66.667vw;
}

.paragraph {
  padding: 0 15px;
  border-left: 1px solid #635b44;
  border-right: 1px solid #635b44;
  border-radius: 3px;
  margin-bottom: 30px;
}

.large-card,
.small-card {
  background-color: #363636;
}

.large-card {
  visibility: visible;
  position: relative;
}

.small-card {
  visibility: hidden;
  position: absolute;
  left: 0;
}

@media(max-width: 860px) {
  .large-card {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 0;
  }

  .small-card {
    visibility: visible;
    position: relative;
  }
}